button.form-button-green {
  background: $color-green;
}

button.form-button-disabled {
  pointer-events: none;
}

.form-alert-body {
  padding: 0 3.5rem;
}

.form-field-alert label {
  margin-top: 0.5em;
}

@include media($medium-large-screen) {
  .form-select-medium {
    max-width: 12rem;
  }
}

.form-errorable-group {
  > .usa-input-error {
    label {
      margin-top: 3rem;
    }
    .usa-input-error-label {
      margin-top: 0;
    }
    .usa-input-error-message {
      margin-bottom: -2rem;
    }
  }
}
