.progress-bar {
  display: block;
  width: 100%;
  height: 1em;
  border-radius: 1em;
  border: 2px solid color($theme-color-primary);
  margin: 1em 0;
}

.progress-bar-inner {
  display: block;
  content: "&nbsp;";
  height: 100%;
  background-color: color($theme-color-primary);
}

.progress-bar-segmented {
  display: flex;
  width: 100%;
  height: 6px;
}

.progress-segment {
  content: "&nbsp;";
  flex: 1;
  margin-left: 2px;
  margin-right: 2px;
  background-color: color($theme-color-base-lighter);

  &-complete {
    background-color: color($theme-color-primary);
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}
