version: 2

common: &common
    docker:
      - image: circleci/node:8.11.3-browsers
    working_directory: ~/repo

jobs:
  build:
    <<: *common
    steps:
      - checkout # to working_directory
      - run: 'sudo npm install -g npm@6'
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules
      - run: npm run lint
      - run: npm test
      - persist_to_workspace:
          root: ~/repo
          paths: .

  deploy:
    <<: *common
    steps:
      - attach_workspace:
          at: ~/repo
      - run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/repo/.npmrc
      - run: npm publish

workflows:
  version: 2
  build-deploy:
    jobs:
      - build:   # run for all branches and PRs
          filters:
            tags:
              only: /v.*/
      - deploy: # run for only tagged (master)
          requires:
            - build
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
